<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<head>
    <title>Dot Game</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <audio>
        <!-- <source src="https://cdn.glitch.global/cf6960fd-2ec9-4452-818e-c97cdaa05407/10_me%2B7.mp3?v=1664103845436"></source>
        <source src="https://cdn.glitch.global/cf6960fd-2ec9-4452-818e-c97cdaa05407/1_do.mp3?v=1664103845465"></source>
        <source src="https://cdn.glitch.global/cf6960fd-2ec9-4452-818e-c97cdaa05407/2_re.mp3?v=1664103845539"></source>
        <source src="https://cdn.glitch.global/cf6960fd-2ec9-4452-818e-c97cdaa05407/6_la.mp3?v=1664103845581"></source> -->
        <source src="assert/1_do.mp3"></source>
    </audio>
    <audio>
        <source src="assert/2_re.mp3"></source>
    </audio>
    <audio>
        <source src="assert/3_me.mp3"></source>
    </audio>
    <audio>
        <source src="assert/4_fa.mp3"></source>
    </audio>
    <audio>
        <source src="assert/5_so.mp3"></source>
    </audio>
    <audio>
        <source src="assert/6_la.mp3"></source>
    </audio>
    <audio>
        <source src="assert/7_xi.mp3"></source>
    </audio>
    <audio>
        <source src="assert/8_do.mp3"></source>
    </audio>
    <audio>
        <source src="assert/9_re.mp3"></source>
    </audio>
    <audio>
        <source src="assert/10_me.mp3"></source>
    </audio>
</head>
<body>
     <div id="app"></div>
     <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
     <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
     <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
     <script type="text/babel" src="/index.js"></script>
</body>
</html>