<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<head>
    <title>Dot Game</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <audio>
        <source src="https://cdn.glitch.global/cf6960fd-2ec9-4452-818e-c97cdaa05407/2_re.mp3?v=1664103845539"></source>
    </audio>
    <audio>
        <source src="https://cdn.glitch.global/cf6960fd-2ec9-4452-818e-c97cdaa05407/3_me.mp3?v=1664103845751"></source>
    </audio>
    <audio>
        <source src="https://cdn.glitch.global/cf6960fd-2ec9-4452-818e-c97cdaa05407/4_fa.mp3?v=1664103846021"></source>
    </audio>
    <audio>
        <source src="https://cdn.glitch.global/cf6960fd-2ec9-4452-818e-c97cdaa05407/5_so.mp3?v=1664103861081"></source>
    </audio>
    <audio>
        <source src="https://cdn.glitch.global/cf6960fd-2ec9-4452-818e-c97cdaa05407/6_la.mp3?v=1664103845581"></source>
    </audio>
    <audio>
        <source src="https://cdn.glitch.global/cf6960fd-2ec9-4452-818e-c97cdaa05407/7_xi.mp3?v=1664103845797"></source>
    </audio>
    <audio>
        <source src="https://cdn.glitch.global/cf6960fd-2ec9-4452-818e-c97cdaa05407/8_do%2B7.mp3?v=1664103845650"></source>
    </audio>
    <audio>
        <source src="https://cdn.glitch.global/cf6960fd-2ec9-4452-818e-c97cdaa05407/9_re%2B7.mp3?v=1664103845877"></source>
    </audio>
    <audio>
        <source src="https://cdn.glitch.global/cf6960fd-2ec9-4452-818e-c97cdaa05407/10_me%2B7.mp3?v=1664103845436"></source>
    </audio>
</head>
<body>
     <div id="app"></div>
     <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
     <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
     <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
     <script type="text/babel" src="/components/board.js"></script>
     <script type="text/babel" src="/components/dot.js"></script>
     <script type="text/babel" src="/components/guideDialog.js"></script>
     <script type="text/babel" src="/components/gameFinishDialog.js"></script>
     <script type="text/babel" src="/components/gameOverDialog.js"></script>
     <script type="text/babel" src="/components/header.js"></script>
     <script type="text/babel" src="/components/hp.js"></script>
     <script type="text/babel" src="/components/pauseFace.js"></script>
     <script type="text/babel" src="/components/score.js"></script>
     <script type="text/babel" src="/components/settingModal.js"></script>
     <script type="text/babel" src="/components/speedSlider.js"></script>
     <script type="text/babel" src="/components/time.js"></script>
     <script type="text/babel" src="/components/toolBar.js"></script>
     <script type="text/babel" src="/services/commonService.js"></script>
     <script type="text/babel" src="/services/localStorageService.js"></script>
     <script type="text/babel" src="/constants.js"></script>
     <script type="text/babel" src="/index.js"></script>
</body>
</html>